NEXT_PUBLIC_SUPABASE_URL=https://vmpzcocwfoinxytaaljr.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_LloMa8n8Uf9lCazPnxPglg_gJ53eUtI
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_clave_anonima_de_supabase